<div  id="main"  class="clearfix">

<meta http-equiv="Content-Type" content="text/html; charset=utf8" />

      <div  class="mainPad">
        <div  id="top-strip"></div>
        <div  id="content">
          <div  class="body-disabled-overlay invisible"> <span  class="invisible registration-url">/licenses</span>
            <div  class="container"> </div>
          </div>
          <noscript>
          &lt;p class="noscript_warning"&gt;Please enable JavaScript&lt;/p&gt;
          </noscript>
          <div  class="float-Rt"> </div>
          <div  id="crumbHolder"  class="clearfix">
            <div  id="breadcrumb"  class="clearfix"> <a  href="#">SGK</a><span  class="last"><a  href="/log">搜索结果</a></span> </div>
          </div>
<div  class="mainContent">
            <div  id="flash_messages"> </div>
            <div  class="one_col_no_sidebar">
<div class="tab_panel">
 <fieldset  class="inputs" style=" box-shadow: 3px 3px 4px #dddddd;width: 95%;margin: 0 auto;margin-top: 15px;
margin-bottom: 10px;background-color: #fff;padding: 5px 20px; ">
 <legend style="font-size: 16px;font-weight: bold;color: #000;">搜索结果列表</legend>
                  <ol  style="width:70%; padding-left:7%">
<div  id="known_targets"  style="width: 95%; float: left;">
                    <table  width="80%"  class="list mar-tb10">
                      <thead>
                        <tr>
                          <th>用户名</th>
                          <th>邮箱</th>
                          <th>密码</th>
			</tr>
		     </thead>
                      <tbody  id="vhost_list">

                      {% for item in list %}
                      <tr  class="odd">
                        <td align="center"  valign="top">{{ item.username }}</td>
                        <td align="center"  valign="top">{{ item.email }}</td>
                        <td align="center"  valign="top">{{ item.password }}</td>
		     
		      </tr>
                      {% endfor %}
                        </tbody>

                    </table>
	<table  width="10%"  class="list mar-tb10">
                      <thead>
                        <tr>
                          <th>来源</th>
                        </tr>
                     </thead>
                      <tbody  id="vhost_list">

                      {% for item in source_list %}
                      <tr  class="odd">
                        <td align="center"  valign="top">{{ item }}</td>
                      </tr>
                      {% endfor %}
                        </tbody>

                    </table>



                  </div>
</ol>
                </fieldset>
</div>
