<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SGK</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="../static/newpage/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="../static/newpage/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="../static/newpage/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="../static/newpage/img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="../static/newpage/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../static/newpage/fonts/font-awesome/css/font-awesome.css">

<!-- Slider
    ================================================== -->
<link href="../static/newpage/css/owl.carousel.css" rel="stylesheet" media="screen">
<link href="../static/newpage/css/owl.theme.css" rel="stylesheet" media="screen">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="../static/newpage/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/newpage/css/responsive.css">
<link rel="stylesheet" type="text/css" href="../static/newpage/css/prettyPhoto.css">
<link href='http://fonts.useso.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../static/newpage/js/modernizr.custom.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="">S|G|K  : - )<strong><span class="color">.</span></strong></a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home" class="page-scroll">主页</a></li>
        <li><a href="#services-section" class="page-scroll">搜索GO!</a></li>
        <li><a href="#works-section" class="page-scroll">泄露排行</a></li>
        <li><a href="#about-section" class="page-scroll">集群状态</a></li>
        <li><a href="#team-section" class="page-scroll">总体信息</a></li>
        <li><a href="#testimonials-section" class="page-scroll">关于</a></li>
        <li><a href="#contact-section" class="page-scroll">联系我们</a></li>
        <li><a href="http://10.10.20.26:5601" class="page-scroll">KIBANA</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>

<!-- Header -->
<header class="text-center" name="home">
  <div class="intro-text">
    <h1>欢迎来到<strong><span class="color">onesorpion SGK</span></strong></h1>
    <p>This is a <strong>strong platform</strong> that provides sensitive information search and analyze!</p>
    <a href="#services-section" class="fa fa-angle-down page-scroll"> </a> </div>
</header>

<!-- 查询 -->
<div id="services-section" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Go <strong>Searching!!!</strong></h2>
      <hr>
      <div class="clearfix"></div>
      <p>Checking whether you have been pwned or not :)</p>
    </div>
    <div class="space"></div>
    <div class="search">
      <i> </i>
      <div class="s-bar">
      <form>
      <input type="text" value="用户名、密码、邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '用户名、密码、邮箱';}">
      <input type="submit"  value="GO!!!"/>
      </form>
  </div>
</div>

  </div>
</div>
<!-- 网站泄露Top 8 -->
<div id="works-section">
  <div class="container"> <!-- Container -->
    <div class="section-title text-center center">
      <h2>网站泄露排名 Top <strong>10</strong></h2>
      <hr>
      <div class="clearfix"></div>
      <p>show the top ten web site</p>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">All</a></li>
            <li><a href="#" data-filter=".sns">社交</a></li>
            <li><a href="#" data-filter=".forum">论坛</a></li>
            <li><a href="#" data-filter=".portal">门户</a></li>
            <li><a href="#" data-filter=".other">其他</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
   
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-3 col-lg-3 sns">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/newpage/img/portfolio/qq.jpg" rel="prettyPhoto">
              <div class="hover-text">
                <h4>website type</h4>
                <small>SNS</small>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="../static/newpage/img/portfolio/qq.jpg" class="img-responsive" alt="QQ"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 portal">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/newpage/img/portfolio/sina.jpg" rel="prettyPhoto">
              <div class="hover-text">
                <h4>website type</h4>
                <small>menghu</small>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="../static/newpage/img/portfolio/sina.jpg" class="img-responsive" alt="sina"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 portal">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/newpage/img/portfolio/souhu.jpg" rel="prettyPhoto">
              <div class="hover-text">
                <h4>website type</h4>
                <small>menghu</small>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="../static/newpage/img/portfolio/souhu.jpg" class="img-responsive" alt="SOHU"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 forum">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/newpage/img/portfolio/tianya.jpg" rel="prettyPhoto">
              <div class="hover-text">
                <h4>website type</h4>
                <small>luntan</small>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="../static/newpage/img/portfolio/tianya.jpg" class="img-responsive" alt="Tianya"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 portal">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/newpage/img/portfolio/wangyi.jpg" rel="prettyPhoto">
              <div class="hover-text">
                <h4>website type</h4>
                <small>menghu&SNS</small>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="../static/newpage/img/portfolio/wangyi.jpg" class="img-responsive" alt="wangyi"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 other">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/newpage/img/portfolio/xiecheng.jpg" rel="prettyPhoto">
              <div class="hover-text">
                <h4>website type</h4>
                <small>menghu</small>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="../static/newpage/img/portfolio/xiecheng.jpg" class="img-responsive" alt="xiecheng"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 branding other">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/newpage/img/portfolio/51job.jpg" rel="prettyPhoto">
              <div class="hover-text">
                <h4>website type</h4>
                <small>luntan</small>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="../static/newpage/img/portfolio/51job.jpg" class="img-responsive" alt="51job"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 other+">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/newpage/img/portfolio/youku.png" rel="prettyPhoto">
              <div class="hover-text">
                <h4>website type</h4>
                <small>SNS</small>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="../static/newpage/img/portfolio/youku.png" class="img-responsive" alt="YouKu"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 集群状态 -->
<div id="about-section">
  <div class="container">
    <div class="section-title text-center center">
      <h2><strong>集群状态</strong> MONGODB+ES</h2>
      <hr>
      <div class="clearfix"></div>
      <p>This is our basic server and ES cluster information.</p>
    </div>
    <div class="row">
      <div class="col-md-6"> <img src="../static/newpage/img/architec.png" class="img-responsive"> </div>
      <div class="col-md-6">
        <div class="about-text"> <i class="fa fa-users"></i>
          <h4>系统基本信息</h4><br />
          <ul>
            <li>CPU_架构：x86_64</li><br />
            <li>GNU/Linux：Ubuntu</li><br />
            <li>服务器：rd-PowerEdge-T630</li><br />
            <li>CPU：Intel(R) Xeon(R) CPU E5-2640 v3 @ 2.60GHz</li><br />
          </ul>
          <i class="fa fa-puzzle-piece"></i>
          <h4>ES 集群状态</h4><br />
          <ul>
            <li>集群名称：elasticsearch_sgk</li><br />
            <li>当前节点：node_1</li><br />
            <li>状态号：200</li><br />
            <li>版本：1.6.2</li><br />
          </ul>
          <i class="fa fa-check-square-o"></i>
          <h4>内存使用</h4>
          <p>总内存：65864852 kB | 可用内存：36683728 kB | 预留内存：3062476 kB</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 总体信息 -->
<div id="team-section" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2> <strong>总体信息</strong></h2>
      <hr>
      <p>overall information : all the information we stored and the search times of last week!</p>
    </div>
    <div>
        <h1>To be continued!!!</h1>
    </div>
  </div>
</div>

<!-- Testimonials Section -->
<div id="testimonials-section" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>关于 Onescorpion sgk!的几条数据</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="testimonial" class="owl-carousel owl-theme">
          <div class="item">
            <h1>当前总数据量 ： > <strong>100G</strong></h1>
          </div>
          <div class="item">
            <h1>当前总数据条数 ：> <strong>7亿</strong></h1>
          </div>
          <div class="item">
            <h1>当前已统计泄露的网站数量 ：> <strong>200个</strong></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 联系我们 -->
<div id="contact-section" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2><strong>联系我们</strong> us</h2>
      <hr>
      <p>与SGK有关的相关问题你可以联系我们!!!</p>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-4"> <i class="fa fa-map-marker fa-2x"></i>
        <p></p>
      </div>
      <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
        <p>zhouhuan1992@gmail.com</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
       
      </div>
      <hr>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <hr>
      <h3>留言</h3>
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="姓名">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="邮箱">
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="4" placeholder="消息"></textarea>
        </div>
        <button type="submit" class="btn btn-default">发送消息</button>
      </form>
    </div>
  </div>
</div>
</div>
<nav id="footer">
  <div class="container">
    <div class="pull-left fnav">
      <p>Copyright &copy; 2015 onescorpion SGK.</p>
    </div>
  </div>
</nav>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="http://ajax.useso.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script type="text/javascript" src="../static/newpage/js/jquery.1.11.1.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script type="text/javascript" src="../static/newpage/js/bootstrap.js"></script> 
<script type="text/javascript" src="../static/newpage/js/SmoothScroll.js"></script> 
<script type="text/javascript" src="../static/newpage/js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="../static/newpage/js/jquery.isotope.js"></script> 
<script src="../static/newpage/js/owl.carousel.js"></script> 

<!-- Javascripts
    ================================================== --> 
<script type="text/javascript" src="../static/newpage/js/main.js"></script>
</body>
</html>